name: TICS Analyzer

on:
  workflow_dispatch:
  schedule:
    - cron: '00 00 * * *'

jobs:
  TICSQServer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js environment
        uses: actions/setup-node@v3
      - run: npm ci
      - run: npm run test:coverage
        env:
          INPUT_GITHUBTOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install and run TICSQSERVER
        env:
          TICSAUTHTOKEN: ${{ secrets.EBOIT_ANALYZER_TOKEN }}
        run: |
          . <(curl --silent --show-error "https://eboit.tiobe.com/tiobeweb/TICS/api/public/v1/fapi/installtics/Script?cfg=main&platform=linux&url=https://eboit.tiobe.com/tiobeweb/TICS/")
          TICSQServer -project 'GitHub' -branchdir .
